<div class="card text-center">
  <div class="card-header">
    <h4>Full Title Goes Here</h4>
  </div>
  <div class="card-body">
    <h4 class="card-title">Book metadata goes here</h4>

    <p class="card-text text-left">
      Author: J R R Tolkien <br />
      Publisher: Boston : Mariner Books/Houghton Mifflin Harcourt, 2020. ©1994
      <br />
      Edition/Format: Print book
      <br />
      Summary: The culmination of the quest to destroy the One Ring.
      <br />
      Subjects Baggins, Frodo -- Fiction.
      <br />
      Middle Earth (Imaginary place) -- Fiction.
      <br />
      Quests (Expeditions) -- Fiction.
    </p>
  </div>
  <!-- <div class="card-footer text-muted">2 days ago</div>
</div> -->
</div>
